.header {
    max-width: 1440px;
    margin: auto;
    background: #E5E5E5;
    display: flex;
    justify-content: space-between;
    padding: 32px 35px 0px 31px;
}

.header__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0px;
}

.header__button {
    color: #424242;
    padding: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.408px;
    border: none;
    background-color: #E5E5E5;
    width: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button:hover {
    cursor: pointer;
}

.header__button-icon {
    width: 18px;
}